<div class="meta-single-qnuploader">
    <button id="pickfiles" class="btn btn-default" ng-hide="uploading"><span ng-bind="uploaderData ? '重新上传' : '点击上传'">点击上传</span>
    </button>

    <a ng-href="{{uploaderData.link}}" target="_blank" class="btn btn-default" ng-show="uploaderData">下载附件</a>

    <div class="loading glyphicon glyphicon-repeat" ng-show="uploading"></div>

    <span class="" ng-bind-html="message"></span>

    <div class="">
        <small>单个文件大小不能大于<span ng-bind="uploaderConfig.maxSize"></span></small>
    </div>
</div>
